div {
    font-family: Arial;
    background-color: #a8cf45;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.triangulo-lateral {
    transform: translateX(0);
}

.triangulo-lateral:before {
    content: '';

    border-style: solid;
    border-width: 15px 15px 15px 0px;
    border-color: transparent red transparent transparent;

   
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -15px;

    transition-duration: .3s;
}
.triangulo-lateral:hover:before{
    left: -14px;
}